*{
  margin : 50;
  box-sizing: border-box;
}
.container{
  display:flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: flex-start;
 
}
<a href= "https://www.instagram.com/db.debug/">Link to Instagram</a>
</div>
*{
  background: lightred;
}
div{
  color: goldenrodyellow;
}
.middletext
{
  color: pink;
  font-size: 50px;
	font-family: 30px;
}
img{
  width: 300px;
}
button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}


.middletext{
  border-style: solid;
	box-shadow: 5px 10px #888888;
	padding: 25px 50px 75px 100px;
<div> ""}

.p1{ font-family: "Times New Roman", Times, serif;}
